snippet cm "Comment Section"
/* ${0} */
endsnippet

snippet st "printf"
printf(${0});
endsnippet

snippet cmm "Comment Section Function"
/**************************************
* Function    : ${0}
* Description : <++>
* Input       : <++>
* Output      : <++>
* Rutrn       : <++>
**************************************/
endsnippet
